.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App {
  padding-top: 35px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.message {
  color: #FFFFFF;
  background-color: #61DAFB;
  padding: 10px 12px;
  margin-bottom: 20px;
  display: block;
}

.delete-item {
  visibility: hidden
}

.delete-item button {
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: red;
  cursor: pointer;
}

li:hover span {
  visibility: visible;
}